* {
	color: #fff;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	word-break: break-all;
	letter-spacing: 1px;
	font-size: 16px;
}

html,body {
	width: 100%;
	height: 100%;
	background-color: #2b2c2f;
}

img {
	display: inline-block;
	vertical-align: top;
	border: 0;
}

h1,h2 {
	text-align: center;
	line-height: 2em;
	font-size: 3em;
}

h2 {
	line-height: 1.5em;
	font-size: 2.5em;
}

ul {
	list-style: none;
}

input[type='text'],input[type='password'] {
	border: 0;
	-webkit-border-radius: 0.2em;
	width: 100%;
	font-size: 2.2em;
	background-color: #fff;
	color: #1e1f21;
	padding: 0.5em 0.7em;
	margin: 0.3em 0;
}

label {
	font-size: 2.4em;
}

button {
	border: 0;
	-webkit-border-radius: 0.2em;
	font-size: 2.4em;
	background-color: #505259;
	color: #fff;
	padding: 0.5em 1em;
	-webkit-box-shadow: 0 5px 0 #202123;
	margin: 0.3em 0;
}

button img {
	vertical-align: middle;
	margin-left: 0.7em;
}

button.main {
	background-color: #cc162f;
	-webkit-box-shadow: 0 5px 0 #450b0b;
}

header[id='fixed'] {
	position: fixed;
	top: 0;
	background-color: #cc162f;
	-webkit-box-shadow:0 2px 5px #000;
	width: 100%;
}

header[id='fixed'] h1 {
	display: inline-block;
	width: 80%;
}

header[id='fixed'] div {
	display: inline-block;
	width: 10%;
	font-size: 3.2em;
	font-weight: bold;
	text-align: center;
}

article {
	float: left;
	padding: 9em 2.5em 2em 2.5em;
	width: 100%;
}

article header {
	display: inline-block;
	padding-left: 1.5em;
	width: 70%;
}

article header h2 {
	text-align: left;
	line-height: 1.2em;
}

article header button {
	font-size: 2em;
}

article header div {
	color: #ccc;
	font-size: 2em;
	line-height: 1.4em;
	padding-top: 0.7em;
}

article header div output {
	color: #ccc;
}

section {
	float: left;
	border-top: #232427 solid 0.2em;
	width: 100%;
}

.hide {
	display: none;
}