article header {
	padding-left: 2em;
	width: 50%;
}

article img[id='head'] {
	-webkit-border-radius: 15em;
	-webkit-box-shadow:0 2px 5px #000;
}

article header output {
	font-size: 2.5em;
	line-height: 1.5em;
}

.color {
	color: #ccc;
}

section {
	padding-top: 1.5em;
	border: 0;
}

section ul li {
	border-bottom: #2b2c2f solid 0.2em;
	background-color: #222326;
	width: 100%;
}

section ul li span {
	display: inline-block;
	background-color: #1f1f22;
	color: #ccc;
	width: 28%;
	padding: 0.7em;
	text-align: right;
	font-size: 2.2em;
}

section ul li div {
	border-left: #2b2c2f solid 0.1em;
	display: inline-block;
	padding: 0.7em 0.9em;
	font-size: 2.2em;
}

section ul li div output {
	font-size: 1em;
}