article header {
	padding-left: 2em;
}

article img[id='head'] {
	background-image: url(../../img/lg.png);
	-webkit-border-radius: 300px;
	border: #fff solid 0.5em;
	-webkit-box-shadow:0 2px 5px #000;
}

article header output {
	font-size: 2.4em;
	line-height: 1.5em;
}

.gap {
	color: #ccc;
}