section {
	padding: 3em;
}

section div {
	color: #ccc;
	text-align: center;
	background-color: #222326;
	-webkit-border-radius: 0.2em;
	padding-top: 6em;
}

section div img[alt='head'] {
	display: block;
	margin: 0 auto;
	-webkit-border-radius: 320px;
	-webkit-box-shadow:0 2px 5px #000;
}

section div span {
	color: #ccc;
	display: block;
	font-size: 2.4em;
	padding: 2em 0;
	line-height: 1.5em;
}

section div button {
	width: 50%;
	margin: 0;
}