header[id='fixed'] div[id] {
	font-size: 2.2em;
	font-weight: normal;
}

section {
	padding-top: 1.5em;
	border: 0;
}

section ul li {
	border-bottom: #2b2c2f solid 0.2em;
	background-color: #222326;
	width: 100%;
}

section ul li span {
	display: inline-block;
	background-color: #1f1f22;
	color: #ccc;
	width: 28%;
	padding: 0.7em;
	text-align: right;
	font-size: 2.2em;
}

section ul li div {
	border-left: #2b2c2f solid 0.1em;
	display: inline-block;
	padding: 0.7em 0.9em;
	font-size: 2.2em;
}

section ul li div output,section ul li div a {
	font-size: 1em;
}

#comment ul li {
	font-size: 2.2em;
	padding: 0.7em 0.9em;
}

#comment ul li div {
	font-size: 1em;
	margin-bottom: 0.5em;
	padding: 0.4em 0 0.4em 0.9em;
	width: 100%;
}

#comment ul li div span {
	font-size: 0.7em;
	background-color: #1b1c1e;
	width: auto;
	padding: 0.2em 0.6em;
	color: #ccc;
	-webkit-border-radius: 1.2em;
	float: right;
}

#comment textarea,#comment button {
	width: 93%;
	display: block;
	margin: 1em auto;
}

#comment button {
	margin-top: 0;
}

#comment button img {
	margin-left: 0;
	margin-right: 1em;
}