section {
	padding-top: 1.5em;
	border: 0;
}

section ul li {
	border-bottom: #2b2c2f solid 0.1em;
	background-color: #222326;
	width: 100%;
	font-size: 2.2em;
}

section ul li span {
	display: inline-block;
	background-color: #1f1f22;
	color: #ccc;
	width: 28%;
	padding: 0.7em 0.9em;
	text-align: right;
}

section ul li div {
	border-left: #2b2c2f solid 0.1em;
	display: inline-block;
	padding: 0.7em 0.9em;
}