section {
	padding-bottom: 9em;
}

nav {
	position: fixed;
	bottom: 0;
	width: 100%;
	-webkit-box-shadow:0 -2px 5px #000;
}

nav ul li {
	float: left;
	background-color: #1a1a1e;
	width: 50%;
	font-size: 2.4em;
	text-align: center;
	padding: 0.9em 0;
}

nav ul li img {
	vertical-align: middle;
	margin-right: 1em;
}

nav ul li:first-child {
	border-right: #2b2c2f solid 0.06em;
}

nav ul li:last-child {
	border-left: #2b2c2f solid 0.06em;
}