section {
	width: 100%;
	font-size: 2.1em;
	padding: 1.2em 1.7em;
	background-color: #222326;
}

section * {
	font-size: 1em;
}

section img {
	max-width: 100%;
	display: block;
    clear: both;
    margin: 0 auto;
}