section {
	border: 0;
	padding-bottom: 14em;
}

section ul {
	margin-bottom: 3.2em;
}

section ul li {
	border-bottom: #2b2c2f solid 0.2em;
	background-color: #222326;
	width: 100%;
	vertical-align: top;
}

section ul li span {
	display: inline-block;
	background-color: #1f1f22;
	color: #ccc;
	width: 28%;
	padding:0.7em;
	text-align: right;
	font-size: 2.2em;
}

section ul li div {
	border-left: #2b2c2f solid 0.2em;
	display: inline-block;
	padding: 0 0.9em;
	width: 65%;
}

button {
	width: 93%;
	display: block;
	margin: 0 auto;
}

button img {
	margin-left: 0;
	margin-right: 1em;
}