header[id='fixed'] h1 {
	font-size: 4em;
}

header[id='fixed'] div {
	font-size: 2.5em;
	font-weight: normal;
}

header h1 img {
	vertical-align: middle;
	margin-right: 0.5em;
	width: 11%;
}

article ul li {
	padding: 0.8em 3em 0.3em 6em;
}

article h2 {
	float: left;
	font-size: 3em;
	padding: 1em 0 0.4em 0;
	width: 100%;
	color: #00BFFF;
}

article h2 span {
	font-size: 0.7em;
}