img[alt='logo'] {
	margin: 0 auto;
	display: block;
}

button {
    width: 49.3%;
}

button[class='main'] {
	width: 100%;
}

article {
	padding-top: 7em;
	padding-bottom: 5em;
}

article div {
	text-align: center;
	margin-bottom: 2.4em;
}

.checked,.unchecked {
	display: inline-block;
	width: 32px;
	height: 32px;
	background: url(../img/ro.png) no-repeat;
	background-position: -32px 0;
	background-size: 64px 32px;
}

.unchecked {
	background-position: 0px 0;
}

.gap {
	padding-left: 0.5em;
}

footer {
	width: 100%;
	position: fixed;
	bottom: 1em;
	text-align: center;
	font-size: 2em;
}